<h3 align="center">Users Index</h3>


<% @users.each do |user| %>

  <div class="row">
    <aside class="col 4">
      <section class="user_info">
        <h1>
          <%= gravatar_for user %><br>
          <%= user.username %><br>
          <%= user.email %>
        </h1>
      </section>
    </aside>
  </div>
  <hr id="grey">

<% end %>