
<div class="jumbotron">
  <em><h1 align="center">All-In-One</h1></em><br>
  <h2 align="center">This is my first project from scratch that is almost finalized</h2><br>
  <h2 align="center">It containes:
    <ul>
      <li>Ruby on Rails framework</li>
      <li>A blog with articles</li>
      <li>A chatroom with ActionCable</li>    
    </ul>
  </h2>
</div>

<div class="ui grid">
  
  <div class="three column row">
      <div class="column" id="grid"><h3>grid & Styling</h3>
        <p>I have used Semantic-ui sass for grids and styling. I found it easier and more styling possibilities than a basic bootstrap.</p>
      </div>
      <div class="column" id="grid"><h3>User Authentication and Authorization</h3>
        <p>I had alot of difficulties with "Devise", I found it difficult to customize routes and styles. So, I did it from scratch myself. Ofcourse, this problem with "Devise", is probably because of my lack of knowledge. </p>
      </div>
      <div class="column" id="grid"><h3>Forms & Their Functionality</h3>
        <p>This was done through the usage of Rails functionality and Semantic designs. Even though there's a lot of styling left to be done, but, basic design and functionalities are solid. </p>
      </div>
    </div>
  </div>
</div>