@import "semantic-ui";
 
body{
  background-color: #eaeaea;
  margin: 60px;
}


.jumbotron{
  background-image: asset-url('jumbo.jpg');
  background-size: cover;
  height: 550px;
  color: #fff;
  text-shadow: 2px solid #000;
  
  padding-top: 10%;
    ul{      
      list-style: none;
    }
}

#grid{
  padding: 25px;
}

.ui.grid {
  margin: 0;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

// gravatar

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.ui.purple.submit.button{
  margin-top: 5px;
}

// chatroom & messages

.chatbox {
  height: 450px;
}

#chatbox{
  align-items: center;
  text-align: center;
  color: #fff;
}

#messages{
  height: 15em;
  overflow: auto;
}

// Article

#article_content{
  height: 400px;
}

#shage img{
  width: 350px;
  height: auto;
}

.pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .pagination .disabled {
    display: none; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .pagination a:hover, .pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child + html .pagination {
    overflow: hidden; }

